@model MagazineCMS.Models.ViewModels.MagazineVM
@{
    ViewData["Title"] = "Update Topic";
}

<div class="form-update-topic">
    <div>
        <form asp-controller="ManageTopic" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input asp-for="Magazine.Id" type="hidden" value="@Model.Magazine.Id"/>
            <h2>Update Magazine</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="row mb-3">
                <div class="col">
                    <h5>Magazine</h5>
                    <div>
                        <input asp-for="@Model.Magazine.Name" class="form-control" aria-required="true" placeholder="" />
                        <span asp-validation-for="@Model.Magazine.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <h5>Description</h5>
                    <div>
                        <textarea asp-for="@Model.Magazine.Description" class="form-control" aria-required="true" placeholder=""></textarea>
                        <span asp-validation-for="@Model.Magazine.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col"> 
                    <h5>Open date</h5>
                    <div class="col">
                        <input asp-for="@Model.Magazine.StartDate" class="form-control" aria-required="true" placeholder="" />
                        <span asp-validation-for="@Model.Magazine.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <h5>Close date</h5>
                    <div>
                        <input asp-for="@Model.Magazine.EndDate" class="form-control" aria-required="true" placeholder="" />
                        <span asp-validation-for="@Model.Magazine.EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <h5>Faculty</h5>
                    <div class="input-group mb-3">
                        <select asp-for="@Model.Magazine.FacultyId" asp-items="@Model.FacultyList" class="form-select border-0 shadow">
                            <option disabled selected>--Select Faculty--</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <h5>Semester</h5>
                    <div class="input-group mb-3">
                        <select asp-for="@Model.Magazine.SemesterId" asp-items="@Model.SemesterList" class="form-select border-0 shadow">
                            <option disabled selected>--Select Semester--</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row mb-3 justify-content-end">
                <div class="col-auto">
                    <button id="update-topic" type="submit" class="btn btn-lg btn-primary">Update</button>
                </div>
                <div class="col-auto">
                    <button id="back-to-index" type="submit" asp-controller="ManageTopic" asp-action="Index" class="btn btn-lg btn-secondary" style="color: white;">Back</button>
                </div>
            </div>

        </form>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}

