@model Tuple<Magazine, IEnumerable<Contribution>>

@{
    TimeSpan remainingTime = Model.Item1.EndDate - DateTime.Now;
    int days = (int)remainingTime.TotalDays;
    int hours = remainingTime.Hours;
    int minutes = remainingTime.Minutes;
}

<div id="accordion" class="mx-4">
    <a href="@Url.Action("Index")" class="btn-primary btn">← Back to Magazine List</a>
    <h1 class="h4 text-primary font-weight-bold my-2">@Model.Item1.Name</h1>
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Magazine Info
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h1 class="h5 font-weight-bold my-2">Faculty: </h1>
                    <div class="badge badge-primary mx-2" style="height: 30px; font-size: 18px;">@Model.Item1.Faculty.Name</div>
                </div>
                <h1 class="h5 font-weight-bold my-2">Description</h1>
                <div class="text-gray-900">
                    @Model.Item1.Description
                </div>
                <h1 class="h5 font-weight-bold my-2">Semester</h1>
                <div class="text-gray-900">
                    @Model.Item1.Semester.Name
                </div>
            </div>
        </div>
    </div>

    <h2 class="h5 text-primary font-weight-bold my-2">List Contributions</h2>
    <div class="card">
        <div id="collapseThree" class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Submission Date</th>
                            <th>Contributors</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contribution in Model.Item2)
                        {
                            <tr>
                                <td>@contribution.Title</td>
                                <td>@contribution.SubmissionDate.ToString("dddd, dd/MM/yyyy HH:mm")</td>
                                <td>@contribution.User.Firstname
                                    @contribution.User.Lastname
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

</div>