@model Tuple<List<Magazine>, List<Semester>, List<Faculty>, List<Contribution>>


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var magazines = Model.Item1;
    var semesters = Model.Item2;
    var faculties = Model.Item3;
    var contributions = Model.Item4;

    var featuredMagazine = Model.Item1[0];
    var remainingMagazines = Model.Item1.GetRange(1, Model.Item1.Count - 1);
    var halfCount = remainingMagazines.Count / 2;
    var listLeftMagazine = remainingMagazines.GetRange(0, halfCount);
    var listRightMagazine = remainingMagazines.GetRange(halfCount, halfCount);
}


<div class="container-fluild mx-4">
    <!-- Search form -->
    <div class="row">
        <div class="col-md-6">
            <form class="d-flex" asp-controller="Home" asp-action="Index">
                <input name="keyword" id="keyword" type="search" class="form-control me-1" placeholder="Search magazine..." aria-label="Search">
                <button type="submit" class="p-1 ml-2 btn btn-sm btn-info">Search</button>
            </form>
        </div>
    </div>
</div>

<hr />

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('../image/PageScreen.jpg'); height: 500px;">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Magazine CMS</h1>
        <p class="lead my-3">Embrace challenges, let determination, courage, and perseverance guide you. Every setback is a setup for a comeback. Believe in yourself, turn aspirations into achievements. Stay resilient, focused, and passionate. Dare to dream, dare to achieve.</p>
    </div>
</div>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="Magazine/@featuredMagazine.Id"><img class="card-img-top img-fluid position-relative" src="~/image/magazine/computer-magazine-spring-2024.jpg" alt="..." style="max-width: 850px; max-height: 350px;" /></a>
                <div class="position-absolute" style="left: 0.5rem; top: 0.5rem">
                    <span class="badge badge-primary">@featuredMagazine.Faculty.Name</span>
                </div>
                <div class="card-body">
                    <div class="small text-muted">@featuredMagazine.StartDate.ToString("d MMM yyyy")</div>
                    <h2 class="card-title">@featuredMagazine.Name</h2>
                    <p class="card-text">@featuredMagazine.Description</p>
                    <a class="btn btn-primary" href="Magazine/@featuredMagazine.Id">Read more →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    @foreach(var magazine in listLeftMagazine) 
                    {
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="Magazine/@magazine.Id"><img class="card-img-top position-relative" src="~/image/magazine/computer-magazine-spring-2024.jpg" alt="..." /></a>
                            <div class="position-absolute" style="left: 0.5rem; top: 0.5rem">
                                <span class="badge badge-primary">@magazine.Faculty.Name</span>
                            </div>
                            <div class="card-body">
                                <div class="small text-muted">@magazine.StartDate.ToString("d MMM yyyy")</div>
                                <h2 class="card-title h4">@magazine.Name</h2>
                                <p class="card-text">@magazine.Description</p>
                                <a class="btn btn-primary" href="Magazine/@magazine.Id">Read more →</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-6">
                    @foreach (var magazine in listRightMagazine)
                    {
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="Magazine/@magazine.Id"><img class="card-img-top position-relative" src="~/image/magazine/computer-magazine-spring-2024.jpg" alt="..." /></a>
                            <div class="position-absolute" style="left: 0.5rem; top: 0.5rem">
                                <span class="badge badge-primary">@magazine.Faculty.Name</span>
                            </div>
                            <div class="card-body">
                                <div class="small text-muted">@magazine.StartDate.ToString("d MMM yyyy")</div>
                                <h2 class="card-title h4">@magazine.Name</h2>
                                <p class="card-text">@magazine.Description</p>
                                <a class="btn btn-primary" href="Magazine/@magazine.Id">Read more →</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @* <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav> *@
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tags -->
            <div class="mb-3">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                </div>
                <div class="bg-white border border-top-0 p-3">
                    <div class="d-flex flex-wrap m-n1">
                        @foreach (var semester in semesters)
                        {
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">@semester.Name</a>
                        }
                        @foreach (var faculty in faculties)
                        {
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">@faculty.Name</a>
                        }
                    </div>
                </div>
            </div>
            <!-- Contributions -->
            <div class="mb-3">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">New Contribution</h4>
                </div>
                <div class="bg-white border border-top-0 p-3">
                    @foreach (var contribution in contributions)
                    {
                        <div class="d-flex align-items-center bg-white mb-3" style="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center card border-left-primary">
                                <div class="mb-2 mt-1">
                                    <a class="badge badge-primary font-weight-semi-bold p-1 mr-2" href="contribution/@contribution.Id">@contribution.Magazine.Faculty.Name</a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="contribution/@contribution.Id">@contribution.Title</a>
                                <div class="d-flex justify-content-between bg-white p-2">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle mr-2" src="@contribution.User.AvatarUrl" width="25" height="25" alt="avt">
                                        <span><small>@contribution.User.Firstname @contribution.User.Lastname</small></span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span><small>@contribution.SubmissionDate.ToString("d MMM yyyy")</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    

</div>

    
