@model Tuple<List<Magazine>, List<Magazine>, string>


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div class="container-fluild mx-4">
    
    <div class="jumbotron p-3 p-md-5 text-white rounded background-screen">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Magazine CMS</h1>
            <p class="lead my-3">
                "Embrace challenges, let determination, courage, and perseverance guide you. Every setback is a setup for a comeback. Believe in yourself, turn aspirations into achievements. Stay resilient, focused, and passionate. Dare to dream, dare to achieve."
            </p>
        </div>
    </div>

    <h1 class="h2 mb-2 text-gray-800">
        List @Model.Item3 Magazine
    </h1>

    <!-- Search form -->
    <div class="row">
        <div class="col-md-6">
            <form class="d-flex" asp-controller="Home" asp-action="Index">
                <input name="keyword" id="keyword" type="search" class="form-control me-1" placeholder="Search magazine..." aria-label="Search">
                <button type="submit" class="p-1 ml-2 btn btn-sm btn-info">Search</button>
            </form>
        </div>
    </div>

    <div class="card-body">
        <h2>Closed Magazine List</h2>
        @if (Model.Item1.Any())
        {
            <div class="row mb-2">
                @foreach (var magazine in Model.Item1)
                {
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 align-items-center box-shadow h-md-250">
                            <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="~/image/magazine/mountains.jpg" data-holder-rendered="true" style="width: 200px; min-height: 300px;object-fit:none;object-position:center;" />
                            <div class="card-body d-flex flex-column align-items-start">
                                <div class="d-flex ">
                                    @if ((magazine.EndDate - DateTime.Now).TotalDays < 2)
                                    {
                                        <strong class="d-inline-block mb-2 text-white badge badge-warning">Near Closing</strong>
                                    }
                                    else
                                    {
                                        <strong class="d-inline-block mb-2 text-white badge badge-success">Opening</strong>
                                    }
                                    @if (magazine.Faculty != null)
                                    {
                                        <strong class="d-inline-block ml-1 mb-2 badge bg-primary text-white me-1">@magazine.Faculty.Name</strong>
                                        <strong class="d-inline-block ml-1 mb-2 badge bg-info text-white">@magazine.Semester.Name</strong>
                                    }
                                </div>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="@Url.Action("Magazine", new { id = magazine.Id })">@magazine.Name</a>
                                </h3>
                                <div class="mb-1 text-muted">
                                    <i class="fa fa-calendar text-success"></i> &nbsp;@magazine.StartDate.ToShortDateString()
                                    <span class="mx-2">&mdash;</span>
                                    @magazine.EndDate.ToShortDateString()
                                </div>
                                <p class="card-text mb-auto" style="height: 6.25rem; overflow: hidden; text-overflow: ellipsis;">@magazine.Description</p>
                                <a href="@Url.Action("Magazine", new { id = magazine.Id })" class="btn btn-sm btn-outline-primary">Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    


    <hr />

    <div class="card-body">
        <h2>Closed Magazine List</h2>
        @if (Model.Item2.Any())
        {
            <div class="row mb-2">
                @foreach (var magazine in Model.Item2)
                {
                    <div class="col-md-6">
                        <div class="card flex-md-row mb-4 align-items-center box-shadow h-md-250">
                            <img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail" src="~/image/magazine/mountains.jpg" data-holder-rendered="true" style="width: 200px; min-height: 300px;object-fit:none;object-position:center;" />
                            <div class="card-body d-flex flex-column align-items-start">
                                <div class="d-flex ">
                                    <strong class="d-inline-block mb-2 text-white badge badge-danger">Closing</strong>
                                    @if (magazine.Faculty != null)
                                    {
                                        <strong class="d-inline-block ml-1 mb-2 badge bg-primary text-white me-1">@magazine.Faculty.Name</strong>
                                        <strong class="d-inline-block ml-1 mb-2 badge bg-info text-white">@magazine.Semester.Name</strong>
                                    }
                                </div>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="@Url.Action("Magazine", new { id = magazine.Id })">@magazine.Name</a>
                                </h3>
                                <div class="mb-1 text-muted">
                                    <i class="fa fa-calendar text-success"></i> &nbsp;@magazine.StartDate.ToShortDateString()
                                    <span class="mx-2">&mdash;</span>
                                    @magazine.EndDate.ToShortDateString()
                                </div>
                                <p class="card-text mb-auto" style="height: 6.25rem; overflow: hidden; text-overflow: ellipsis;">@magazine.Description</p>
                                <a href="@Url.Action("Magazine", new { id = magazine.Id })" class="btn btn-sm btn-outline-primary">Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

</div>

    

    
    

    
