@model Tuple<Magazine, int, int, int>

@{
    string startDate = Model.Item1.Semester.StartDate.ToString("dd/MM/yyyy");
    string endDate = Model.Item1.Semester.EndDate.ToString("dd/MM/yyyy");
}

<div class="font-weight-bold text-primary text-uppercase mb-1">
    <a href="@Url.Action("Details", "Magazine", new { id = Model.Item1.Id })">@Model.Item1.Name</a>
</div>

<!-- Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-primary text-uppercase mb-1">
                            @Model.Item1.Semester.Name
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">@startDate to @endDate</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-calendar fa-2x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-success text-uppercase mb-1">
                            Contribution Approved
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Item2 contributions approved</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-check fa-2x text-success"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-warning text-uppercase mb-1">
                            Pending Contribution
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">@Model.Item3 pending contributions</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-pencil fa-2x text-warning"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-danger text-uppercase mb-1">
                            Contribution Rejected
                        </div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.Item4 contributions rejected</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-times fa-2x text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>