@model Tuple<Magazine, int, int, int, List<Magazine>>

@{
    string startDate = Model.Item1.Semester.StartDate.ToString("dd/MM/yyyy");
    string endDate = Model.Item1.Semester.EndDate.ToString("dd/MM/yyyy");
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="col-12 col-sm-6 col-lg-3">
        @Html.DropDownList("MagazineId", (SelectList)ViewBag.MagazineSelectList, "Select a magazine", new { @class = "custom-select mb-4 w-100", id = "magazineSelect" })
    </div>

    <div id="dashboardCard">
        @Html.Partial("_DashboardCard", new Tuple<Magazine, int, int, int>(Model.Item1, Model.Item2, Model.Item3, Model.Item4))
    </div>
    <!-- Row -->
    <div class="d-sm-flex mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Magazines</h1>
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row mx-2">
        @if (Model.Item5.Any())
        {
            <div class="d-flex flex-wrap" style="gap: 2rem;">
                @foreach (var magazine in Model.Item5)
                {
                    <a href="@Url.Action("Details", "Magazine", new { id = magazine.Id })" class="text-black-50" style="text-decoration: none;">
                        <div class="card shadow" style="width: 18rem;">
                            <div>
                                <img src="~/image/magazine/computer-magazine-spring-2024.jpg" class="card-img-top position-relative" alt="...">
                                <div class="position-absolute" style="left: 0.5rem; top: 0.5rem">
                                    @if (magazine.EndDate < DateTime.Now)
                                    {
                                        <span class="badge badge-danger">Closing</span>
                                    }
                                    else if ((magazine.EndDate - DateTime.Now).TotalDays < 2)
                                    {
                                        <span class="badge badge-warning">Near Closing</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-success">Opening</span>
                                    }
                                    <span class="badge badge-primary">@magazine.Faculty.Name</span>
                                    <span class="badge badge-info">@magazine.Semester.Name</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title " style="height: 3rem; overflow: hidden; text-overflow: ellipsis;" title="@magazine.Name">@magazine.Name</h5>
                                <p class="card-text" style="height: 6.25rem; overflow: hidden; text-overflow: ellipsis;">@magazine.Description</p>
                                <div class="card-text d-flex">
                                    <p class="text-success"><i class="fa fa-calendar" style="color: black;"></i> &nbsp; @magazine.StartDate.ToShortDateString()</p>
                                    <p>&nbsp; to &nbsp;</p>
                                    <p class="text-danger">@magazine.EndDate.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#magazineSelect').change(function () {
                var magazineId = $(this).val();
                $.ajax({
                    url: '/Coordinator/Dashboard/GetCardInfo/'+magazineId,
                    success: function (data) {
                        // Update the card info with the returned data
                        $('#dashboardCard').html(data);
                        
                    }
                });
            });
        });
    </script>
}